{% extends 'base_user.html' %}

{% block title %}
{{ title }}|{{ block.super }}
{% endblock %}

{% block content%}
<form method="post">
    <div class="container">
        <h4 class="title" style="text-align:center;">Відновлення паролю</h4>
        <hr style="color: #FF9B4D; height: 2px;">
        <p>Забули пароль? Введіть адресу електронної пошти для отримання інструкції з відновлення паролю</p>
        {% csrf_token %}
        {{ password_reset_form }}
        <button type="submit" class="signupbtn" style="background-color: #2C608A;">Відправити</button>
    </div>
   <div class="container" style="background-color:#f1f1f1">
        <span>Згадали пароль? <a href="{% url 'login' %}">Увійти</a></span>
    </div>
</form>


{% endblock %}
