{% extends 'base_user.html' %}

{% block title %}
{{ title }}|{{ block.super }}
{% endblock %}

{% block content%}
<form>
    <div class="container">
        <h4 class="title" style="text-align:center;">Відновлення паролю</h4>
        <hr style="color: #FF9B4D; height: 2px;">
        <h2>Посилання для відновлення паролю відправлено</h2>
        <p>Ми надіслали вам електронною поштою інструкції щодо встановлення пароля, якщо існує обліковий запис із
            введеною вами електронною адресою. Ви повинні отримати її найближчим часом.
            <br>Якщо ви не отримали електронного листа, переконайтеся, що ви ввели коректну адресу,
            і перевірте папку зі спамом.</p>

    </div>

</form>


{% endblock %}
