{% extends 'base_user.html' %}

{% block title %}
{{ title }}|{{ block.super }}
{% endblock %}

{% block content%}
<form method="post">
    <div class="container">
        <h4 class="title" style="text-align:center;">Відновлення паролю</h4>
        <hr style="color: #FF9B4D; height: 2px;">
        <h2>Відновлення паролю завершено</h2>
        {% csrf_token %}
        {{ form}}
    </div>
   <div class="container" style="background-color:#f1f1f1">
        <span>Ваш пароль зміненно, доступ до облікового запису відновленно <a href="{% url 'login' %}">Увійти</a></span>
    </div>
</form>

{% endblock %}
