{% extends 'base_user.html' %}

{% block title %}
{{ title }}|{{ block.super }}
{% endblock %}

{% block content%}
<form method="post">
    <div class="container">
        <h4 class="title" style="text-align:center;">{{ title }}</h4>
        <hr style="color: #FF9B4D; height: 2px;">
        <p>Заповніть цю форму, щоб відновити пароль</p>
        <hr>
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="signupbtn" style="background-color: #2C608A;">Змінити</button>
    </div>
</form>
{% endblock %}
