<div class="statistics_region" style="font-family: 'Times New Roman', Georgia, Serif;">
    <h4 class="title">Статистика подій</h4>

    <hr style="color: #FF9B4D; height: 2px;">
    <p class="name">Наведіть курсор на потрібний район</p>
    <img style='opacity: 0;' src="/media/loading.gif" width="30" height="30" alt="Loading" class="loading"/>
    <div class="ajax-response">
    </div>

    <div class="content-data">
        <p style="color: black;">- Кількість виїздів : <b class="cont1"></b><b class="font1"></b></p>
        <p style="color: black;">- Кількість подій : <b class="cont2"></b><b class="font2"></b></p>
        <p style="color: black;">- Кількість НС : <b class="cont3"></b><b class="font3"></b></p>
        <p style="color: red;">- Пожеж : <b class="cont4"></b><b class="font4"></b></p>
        <p style="color: green;">- Надання допомоги : <b class="cont5"></b><b class="font5"></b></p>
        <p style="color: black;">- Виявлення боєприпасів : <b class="cont6"></b><b class="font6"></b></p>
        <p style="color: blue;">- Хибний виклик : <b class="cont7"></b><b class="font7"></b></p>
        <p style="color: brown;">- Замінування : <b class="cont8"></b><b class="font8"></b></p>
        <p style="color: purple;">- Інше: <b class="cont9"></b><b class="font9"></b></p>
        <p style="color: black;">Залучено: </p>
        <p style="color: red;">- Одиниць техніки: <b class="cont10"></b><b class="font10"></b></p>
        <p style="color: blue;">- Особового складу: <b class="cont11"></b><b class="font11"></b></p>
        <p style="color: black;">Врятовано осіб: </p>
        <p style="color: green;">- Дорослих: <b class="cont12"></b><b class="font12"></b></p>
        <p style="color: green;">- Дітей: <b class="cont13"></b><b class="font13"></b></p>
        <p style="color: black;">Постраждало осіб: </p>
        <p style="color: #C4C119;">- Дорослих: <b class="cont14"></b><b class="font14"></b></p>
        <p style="color: #C4C119;">- Дітей: <b class="cont15"></b><b class="font15"></b></p>
        <p style="color: black;">Загинуло осіб: </p>
        <p style="color: red;">- Дорослих: <b class="cont16"></b><b class="font16"></b></p>
        <p style="color: red;">- Дітей: <b class="cont17"></b><b class="font17"></b></p>
    </div>
</div>
