* {
	margin: 0;
	padding: 0;
	}
html,
body {
	height: 100%;
}

.wrapper {
	position: relative;
	min-height: 100%;
}
.content {
	padding-bottom: 90px;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #333;
	text_align: center;
	margin-top: 50px;
}

.map {
        position: relative;
        text-align: center;
    }

svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

.part {
       opacity: .1;
    }

.part:hover {
        transition: opacity .2s ease;
        opacity: .6;
        cursor: pointer;
    }



    .form {
        display: none;
        position: absolute;
        padding: 20px;
        box-sizing: border-box;
        width: 300px;
        height: 200px;
        left: 50px;
        bottom: calc(50% - 200px);
        box-shadow: 0 0 22px 2px #ccc
    }

    .form2 {
        display: none;
        position: absolute;
        padding: 20px;
        box-sizing: border-box;
        width: 300px;
        height: 200px;
        left: 50px;
        bottom: calc(50% - 200px);
        box-shadow: 0 0 22px 2px #ccc
    }





.statistics_region {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    box-shadow: 0 4px 16px #ccc;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 20px;


}
.content-data {
    margin: 20px;
    color: blue;
    text-align: left;
    padding: 20px;

}

.title {
    color: black;

}

.ajax-content {
    display: none;
}

.line {
    border: none;
    color: red;
    background-color: red;
    height: 20px;
    size: 20px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.ram {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.statistic_of_city {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow-y: auto;


}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    opacity: 0.9;


}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
    .modal-content {
    width: 70%;
    }

}


