{% extends 'home_base.html' %}

{% block title %}
{{ title }}|{{ block.super }}

{% endblock %}

{% block sidebar %}


{% endblock %}

{% block content%}
<div>
    <p class="par" id="1">test1</p>
    <p class="par" id="2">test1</p>
    <p class="par" id="3">test1</p>
    <p class="par" id="4">test1</p>

    <div class="dev" id="11">div1</div>
    <div class="dev" id="12">div2</div>
    <div class="dev" id="13">div3</div>
    <div class="dev" id="14">div4</div>

</div>


{% endblock %}

{% block news %}


{% endblock %}